<html layout:decorate="layout/layout_signup" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
		<div class="wrapper" style="background-image: url(/images/bg3.jpeg);">
			<div class="inner">
				<div class="image-holder">
					<img src="/images/te4.jpeg" alt="">
				</div>
				<form action="">
					<h3 class="h3-register">식물 등록하기</h3>
					<div class="form-wrapper">
						<input type="text" placeholder="일련번호" class="form-register" required>
						<i class="zmdi zmdi-email"></i>
					</div>
					<button class="button-register">등록하기
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>

	</div>
</html>