<html layout:decorate="layout/layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
<aside class="profile-card">
    <header>
        <a href="/static">
            <img src="/images/addimage.png" />
        </a>
    </header>
    <div class="profile-bio">
    
        <p>사용자ID : rhkdgks4806</p>
        <p>비밀번호 : *********</p>
        <p>이메일 : rhkdgks@naver.com</p>
        <p>연락처 :010-1111-2222</p>
        <p>성별 : 남자</p>
        <p>나이 : 19</p>
    
    </div>
</aside>
</div>
</html>