<html layout:decorate="layout">
<div layout:fragment="content" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>회원가입</h4>
    </div>
  </div>
  <form th:action="@{/user/signup}" th:object="${userCreateDto}" method="post">
    <div th:replace="form_errors :: formErrorsFragment"></div>
    <div class="mb-3">
      <label for="username" class="form-label">사용자ID</label>
      <input type="text" th:field="*{username}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">비밀번호</label>
      <input type="password" th:field="*{password1}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">비밀번호 확인</label>
      <input type="password" th:field="*{password2}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input type="email" th:field="*{email}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">연락처</label>
      <input type="tel" th:field="*{phoneNumber}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">성별</label><br>
      <input type="radio" id="male" th:field="*{gender}" value="남자">
      <label for="male">남자</label><br>
      <input type="radio" id="female" th:field="*{gender}" value="여자">
      <label for="female">여자</label><br>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">나이</label>
      <input type="number" th:field="*{age}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>
</html>