<html layout:decorate="layout/layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <nav th:replace="layout/navbar :: navbarFragment"></nav>
    <!-- 메인페이지 -->
    <section class="home-slider owl-carousel img" style="background-image: url(/images/bg4.jpeg);">
      <div class="slider-item" style="background-image: url(/images/bg1.jpeg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">
            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">나만의 곶자왈<br>자랑하기</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>자랑게시판</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">자랑게시판</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url(/images/te1.png);">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">30/08, 2022</a></div>
                  <div><a href="#">정우주</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">우주안의 곶자왈</a></h3>
                <p>곶자왈 수경재배키트를 구입하고나서 곶자왈을 처음 알게 되었고, 너무 이뻐서 조금 꾸며봤어요.. 재미있게 봐주세요.. 우주라 우주사진 합성했어요<i class="icon-heart" aria-hidden="true"></i></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url(/images/te2.png);">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">27/08, 2022</a></div>
                  <div><a href="#">김범준</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 10</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">키트 제작 시 주의사항</a></h3>
                <p>곶자왈 수경재배키트를 구입 후 펄라이트 185.6g과 코크피트 169.7g을 사용해서 꾸몄고, 이끼는 다쓰고 부족해서 17.9g 추가 구입해서 꾸며보았습니다. 구매하실 때 참고하세요.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url(/images/te3.jpeg);">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">20/08, 2022</a></div>
                  <div><a href="#">배광한</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 2</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">계단이보이네요~<br> 그대가내려오죠~</a></h3>
                <p>키트 구입해서 만들고 회사에 가져다 놓고 보고있는데 쉬는시간마다 스트레스가 풀리는 기분입니다. 아니라고요? 뭐 어쩌라구요~</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url(/images/te4.jpeg);">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">12/08, 2022</a></div>
                  <div><a href="#">고유라</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 5</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">곶자왈을 지켜라!!</a></h3>
                <p>곶자왈이 점점 사라진다고 하는데 이번 키트를 구매해서 그 심각성을 알게되었습니다. 정말 슬프네요 ㅠ 근데 정말 사라지면 어떻게하죠? 매일밤 걱정됩니다!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url(/images/te5.jpeg);">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">04/08, 2022</a></div>
                  <div><a href="#">김명수</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">곶자왈과의 전쟁</a></h3>
                <p>느그 서장 어딨어?! 강 서장 대꼬와!!! 니.. 내 누군지 아나? 으이?! 내가 이 섀꺄 느그 서장이랑 임마!! 느그 서장, 남천동 살제? 으어?! 내가 인마 느그 서장이랑 인마! 어저께도! 같이 밥 묵고 으! 싸우나도 같이 가고 으! 마 개이 섀꺄 마 다했어!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url(/images/te6.jpeg);">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">30/07, 2022</a></div>
                  <div><a href="#">이현석</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 29</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">곶자왈 한마리 몰고가세요~</a></h3>
                <p>
                  배움은 미래를 위한 가장 큰 준비이다 -아리스토텔레스-<br>
                  셋이 걸어가면 그 중에 나의 스승이 있다 -공자-<br>
                  유능한 사람은 언제나 배우는 사람이다 -괴테-<br>
                  알아서들 하세요 인생 뭐 있습니까? -배광한-
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 푸터 -->
    <footer class="ftco-footer ftco-section img">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This kit is made with <i class="icon-heart" aria-hidden="true"></i> by For Growing</a>
                </p>
            </div>
        </div>
    </footer>
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </div>
</html>