<script>
    $(function(){
		const plantname = document.querySelector('.plantname')
		var calendarEl = document.getElementById('calendar');
		var request = $.ajax({
			url: "/calendar/event",
			method: "GET",
			data:{ plantname : plantname.value},
		});
		request.done(function( data ) {
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				events: data
			});
	
			calendar.render();								
		});
			
		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});

		plantname.addEventListener('change', function() {
			const result = document.querySelector('.plantname');
			alert("??");
			var request = $.ajax({
				url: "/calendar/event",
				method: "GET",
				data:{ plantname : result.value},
			});
			request.done(function(data){
				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth',
					events: data
				});
		
				calendar.render();		
			});
		})
    });
  </script>